<% if (success.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>ZAZZY!</strong> <%= success[0] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>
<% if (error.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Wsh Ak Diiiir!</strong> <%= error[0] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% } %>