<nav class="navbar navbar-expand-lg sticky-top bg-dark text-light" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">RanDo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/campgrounds">CampGrounds</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds/new">Add a new one</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>   
            <div class="navbar-nav ms-auto"> <!-- Add ms-auto to push Login to the right -->
                <% if (!currentUser) { %>
                    <a class="nav-link" href="/login" aria-disabled="true">Login</a>
                    <a class="nav-link" href="/Register" aria-disabled="true">Register</a>
                <% } else { %>
                    <a class="nav-link" href="https://warthunder.com/fr"><%= currentUser.username %></a>
               <form action="/logout?_method=DELETE" method="POST">
                    <button class="nav-link">
                    <img crossorigin="anonymous" src="https://icon-library.com/images/logout-icon-transparent/logout-icon-transparent-9.jpg" alt="Logout" style="width: 25px; height: 25px;">
                    </button>
                </form>
                    <% } %>
            </div>        
        </div>
    </div>
</nav>